<h1>Edit Trainingplan</h1>

<%= render "editform.html", Map.put(assigns, :action, Routes.trainingplan_path(@conn, :update, @trainingplan)) %>

<span><%= link "Back", to: Routes.trainingplan_path(@conn, :index) %></span>
